device {
    text-align: left;
    font-size: x-large;
    padding-bottom: 2px;
    cursor: default;
    border-bottom: 2px solid gray;

    display: grid;
    grid-template-columns: 10% 45% 45%;
}

device div {

    padding: 5px;
}

.deviceName {
    font-weight: bold;
}

.deviceDefinition {
    font-style: italic;
    text-align: left;
}


device:nth-child(2n) {
    background-color: lightgray;
}